:root {
  --clr-white: hsl(0, 0%, 100%);
  --clr-pale-blue: hsl(221, 100%, 98%);
  --clr-light-grey: hsl(0, 0%, 75%);

  --clr-result-bg-top: hsl(252, 100%, 67%);         
  --clr-result-bg-bottom: hsl(241, 81%, 54%);      
  --clr-result-circle-top: hsla(256, 72%, 46%, 1);     
  --clr-result-circle-bottom: hsla(241, 72%, 46%, 0);    

  --clr-reaction-bg: #fef6f5;
  --clr-reaction-text: hsl(0, 100%, 67%);
  --clr-memory-bg: #fffbf2;
  --clr-memory-text: hsl(39, 100%, 56%);
  --clr-verbal-bg: #f3fafa;
  --clr-verbal-text: hsl(166, 100%, 37%);
  --clr-visual-bg: #f3f3fd;
  --clr-visual-text: hsl(234, 85%, 45%);
  --clr-button-bg: hsl(224, 30%, 27%);

  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 1.50rem;
  --fs-700: 2rem;
  --fs-800: 4rem;
  --fs-900: 5rem;

  --fw-regular: 500;
  --fw-semi-bold: 700;
  --fw-bold: 800;
}

@font-face {
  font-family: "HankenGrotesk";
  src: url(assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
  font-display: swap;
  font-weight: 100 900;
}

/* *** *** *** *** *** */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  font: inherit;
}

body {
  min-height: 100vh;
  font-family: HankenGrotesk;
  background: var(--clr-pale-blue);
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* *** *** *** *** *** */

#section-wrapper {
  max-width: 740px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 30px;
  overflow: hidden;
  background: var(--clr-white);
}

#result-section {
  background: linear-gradient(var(--clr-result-bg-top), var(--clr-result-bg-bottom));
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 40px 60px;
  color: var(--clr-light-grey);
}

#result-header {
  font-size: var(--fs-700);
}

#score {
  background: linear-gradient(var(--clr-result-circle-top), var(--clr-result-circle-bottom));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

#score-achieved {
  color: var(--clr-white);
  font-size: var(--fs-900);
  font-weight: var(--fw-bold);
}

#score-max {
  font-size: var(--fs-500);
}

#result-feedback {
  font-size: var(--fs-700);
  font-weight: var(--fw-semi-bold);
}

#result-comment {
  text-align: center;
  font-size: var(--fs-500);
}

/* *** *** *** *** *** */

#summary-section {
  max-width: 360px;
  background: var(--clr-white);
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#summary-header {
  font-size: var(--fs-700);
  font-weight: var(--fw-semi-bold);
}

#summary-points {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin: 1rem 0;
}

.categorie-points {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  gap: 80px;
  font-size: var(--fs-500);
  font-weight: var(--fw-semi-bold);
  border-radius: 10px;
}

.summary-icon {
  display: flex;
  justify-content: start;
  align-items: center;
}

#reaction-score {
  background: var(--clr-reaction-bg);
  color: var(--clr-reaction-text);
}

#memory-score {
  background: var(--clr-memory-bg);
  color: var(--clr-memory-text);
}

#verbal-score {
  background: var(--clr-verbal-bg);
  color: var(--clr-verbal-text);
}

#visual-score {
  background: var(--clr-visual-bg);
  color: var(--clr-visual-text);
}

#continue-btn {
  background: var(--clr-button-bg);
  color: var(--clr-white);
  padding: 15px 100px;
  border-radius: 30px;
}

#continue-btn:hover {
  background-color: lightslategray;
}

/* *** *** *** *** *** */


.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
